In [180]:
import pandas as pd
import numpy as np

In [181]:
file_path = './data/OccupationProjections.xls'

In [190]:
df = pd.read_excel(file_path, skiprows=2)
df.columns=['OccupationLevel',
            'SkillLevel',
            'OccupationCode',
            'Occupation',
            'Number of Jobs (May 2018)',
            'Predicted Number of Jobs (May 2023)',
            'Predicted New Jobs Over Next 5 Years',
            'Predicted 5-year Employment Growth (%)']
df = df.fillna(0)
df['Number of Jobs (May 2018)'] = (df['Number of Jobs (May 2018)']*1000).astype(int)
df['Predicted Number of Jobs (May 2023)'] = (df[ 'Predicted Number of Jobs (May 2023)']*1000).astype(int)
df['Predicted New Jobs Over Next 5 Years'] = (df['Predicted New Jobs Over Next 5 Years']*1000).astype(int)
df['OccupationCode'] = df['OccupationCode'].astype(str)
df.drop(df.tail(3).index,inplace=True) # Last few rows are not useful

In [191]:
df.head()

,OccupationLevel,SkillLevel,OccupationCode,Occupation,Number of Jobs (May 2018),Predicted Number of Jobs (May 2023),Predicted New Jobs Over Next 5 Years,Predicted 5-year Employment Growth (%)
0,1,,1,MANAGERS,1561630,1671502,109872,7.035772
1,2,,11,"Chief Executives, General Managers and Legisla...",109718,114566,4848,4.418739
2,3,,111,"Chief Executives, General Managers and Legisla...",109718,114566,4848,4.418739
3,4,1,1111,Chief Executives and Managing Directors,62824,68618,5793,9.222124
4,4,1,1112,General Managers,42125,41095,-1030,-2.445267

# Things to make

### A thing that gives you every child of a given occupation code

### A thing that gives you the skill level of a given 4th level occupation code

# Occupation code to skill level

In [173]:
# Note that some entries have multiple values. These are preserved as strings, e.g. `1,2,3,4,5`
anzsco_to_skill_level = df[df['OccupationLevel']==4][['SkillLevel','OccupationCode']]
anzsco_to_skill_level['SkillLevel'] = anzsco_to_skill_level['SkillLevel'].astype(str).str[:1].astype(int)
anzsco_to_skill_level['OccupationCode'] = anzsco_to_skill_level['OccupationCode'].astype(str)
anzsco_to_skill_level = anzsco_to_skill_level.set_index('OccupationCode')['SkillLevel'].to_dict();

# Map between occupation codes

### Map from code to names

In [175]:
occupations_level0 = {}
current_level1 = None
current_level2 = None
current_level3 = None
current_level4 = None

data = []

for index, row in df.iterrows():
    if len(str(row['OccupationCode']))==1:
        current_level1 = str(row['OccupationCode'])
        
        # New Level1
        occupations_level0[current_level1] = {'Major Group': row['Occupation'],
                                              'Sub-Major Groups':{}}
        continue
    if len(str(row['OccupationCode']))==2:
        current_level2 = str(row['OccupationCode'])
        
        # New Level2
        occupations_level0[current_level1]['Sub-Major Groups'][current_level2] = {'Sub-Major Group': row['Occupation'],
                                                                          'Minor Groups': {}}
        continue
    if len(str(row['OccupationCode']))==3:
        current_level3 = str(row['OccupationCode'])
        
        # New Level3
        occupations_level0[current_level1]['Sub-Major Groups'][current_level2]['Minor Groups'][current_level3] = {'Minor Group': row['Occupation'],
                                                                                                      'Unit Groups': {}}
        continue
    if len(str(row['OccupationCode']))==4:
        current_level4 = str(row['OccupationCode'])
        
        # New Level4
        occupations_level0[current_level1]['Sub-Major Groups'][current_level2]['Minor Groups'][current_level3]['Unit Groups'][current_level4] = row['Occupation']
        
        data.append([current_level1, current_level2, current_level3, current_level4, anzsco_to_skill_level[current_level4], row['Occupation']])
        
        
        continue

In [127]:
def resolve_anzsco(code):
    # Provide ANZSCO as string
    if len(code)==1:
        return occupations_level0[code]
    if len(code)==2:
        return occupations_level0[code[0]]['Sub-Major Groups'][code]
    if len(code)==3:
        return occupations_level0[code[0]]['Sub-Major Groups'][code[0:2]]['Minor Groups'][code]
    if len(code)==4:
        return occupations_level0[code[0]]['Sub-Major Groups'][code[0:2]]['Minor Groups'][code[0:3]]['Unit Groups'][code]

In [178]:
df_anzsco = pd.DataFrame(data = data, columns=['Major Group', 'Sub-major Group', 'Minor Group','Unit Group', 'Skill Level', 'Name']).set_index('Unit Group')

In [194]:
df_anzsco_out = df_anzsco.join(df.set_index('OccupationCode')[['Number of Jobs (May 2018)',
            'Predicted Number of Jobs (May 2023)',
            'Predicted New Jobs Over Next 5 Years',
            'Predicted 5-year Employment Growth (%)']]
              )
df_anzsco_out.to_pickle("./data/pickles/anzsco_lmip_proj.pkl")

In [195]:
df_anzsco_out

,Major Group,Sub-major Group,Minor Group,Skill Level,Name,Number of Jobs (May 2018),Predicted Number of Jobs (May 2023),Predicted New Jobs Over Next 5 Years,Predicted 5-year Employment Growth (%)
Unit Group,,,,,,,,,
1111,1,11,111,1,Chief Executives and Managing Directors,62824,68618,5793,9.222124
1112,1,11,111,1,General Managers,42125,41095,-1030,-2.445267
1113,1,11,111,1,Legislators,2626,2711,84,3.216018
1110,1,11,111,1,"Chief Executives, General Managers and Legisla...",185,185,0,0.000000
1211,1,12,121,1,Aquaculture Farmers,2652,2597,-54,-2.066223
1212,1,12,121,1,Crop Farmers,41145,41378,232,0.564764
1213,1,12,121,1,Livestock Farmers,77256,75203,-2053,-2.658273
1214,1,12,121,1,Mixed Crop and Livestock Farmers,30204,29190,-1014,-3.357210
1210,1,12,121,1,Farmers and Farm Managers nfd,10245,8607,-1638,-15.994166
1311,1,13,131,1,"Advertising, Public Relations and Sales Managers",145614,159872,14258,9.791914
1321,1,13,132,1,Corporate Services Managers,23834,25190,1355,5.689102
1322,1,13,132,1,Finance Managers,58663,63534,4871,8.303484
1323,1,13,132,1,Human Resource Managers,57789,65181,7392,12.792597
1324,1,13,132,1,Policy and Planning Managers,21987,22528,540,2.457951
1325,1,13,132,1,Research and Development Managers,14286,16887,2601,18.206872
1320,1,13,132,1,Business Administration Managers nfd,659,659,0,0.000000
1331,1,13,133,1,Construction Managers,100900,114281,13380,13.261394
1332,1,13,133,1,Engineering Managers,22904,26375,3471,15.156893
1333,1,13,133,1,"Importers, Exporters and Wholesalers",26092,27550,1458,5.590187
1334,1,13,133,1,Manufacturers,22023,23646,1622,7.365503
1335,1,13,133,1,Production Managers,53302,56281,2979,5.590187
1336,1,13,133,1,"Supply, Distribution and Procurement Managers",45221,49230,4009,8.866302
1330,1,13,133,1,"Construction, Distribution and Production Mana...",102,102,0,0.000000
1341,1,13,134,1,Child Care Centre Managers,13278,16047,2768,20.852315
1342,1,13,134,1,Health and Welfare Services Managers,19612,23888,4276,21.805335
1343,1,13,134,1,School Principals,20589,22107,1517,7.369831
1344,1,13,134,1,Other Education Managers,11443,13323,1880,16.429660
1340,1,13,134,1,"Education, Health and Welfare Services Manager...",100,100,0,0.000000
1351,1,13,135,1,ICT Managers,58814,67011,8196,13.936566
1391,1,13,139,1,Commissioned Officers (Management),1582,1689,106,6.732278
...,...,...,...,...,...,...,...,...,...
8394,8,83,839,5,Timber and Wood Process Workers,3765,3323,-441,-11.730187
8399,8,83,839,5,Other Factory Process Workers,10641,10379,-262,-2.469067
8390,8,83,839,4,Miscellaneous Factory Process Workers nfd,84,84,0,0.000000
8300,8,83,830,4,Factory Process Workers nfd,4159,3965,-193,-4.647199
8411,8,84,841,5,Aquaculture Workers,1369,1404,34,2.508214
8412,8,84,841,5,Crop Farm Workers,25889,27205,1315,5.082950
8413,8,84,841,4,Forestry and Logging Workers,2564,2553,-10,-0.421631
8414,8,84,841,5,Garden and Nursery Labourers,32166,32245,78,0.244683
8415,8,84,841,5,Livestock Farm Workers,28203,26592,-1611,-5.712553
8416,8,84,841,5,Mixed Crop and Livestock Farm Workers,3936,3873,-62,-1.588597
8419,8,84,841,5,"Other Farm, Forestry and Garden Workers",15509,16535,1026,6.619048
8410,8,84,841,4,"Farm, Forestry and Garden Workers nfd",5450,5450,0,0.000000
8511,8,85,851,5,Fast Food Cooks,45125,49889,4763,10.556544
8512,8,85,851,5,Food Trades Assistants,4332,4332,0,0.000000
8513,8,85,851,5,Kitchenhands,137845,153918,16073,11.660213
8510,8,85,851,5,Food Preparation Assistants nfd,1267,1267,0,0.000000
8911,8,89,891,5,Freight and Furniture Handlers,16938,17929,990,5.847629
8912,8,89,891,5,Shelf Fillers,73016,79282,6266,8.582060
8910,8,89,891,5,Freight Handlers and Shelf Fillers nfd,98,98,0,0.000000
8991,8,89,899,5,Caretakers,5481,5330,-150,-2.744144
8992,8,89,899,4,Deck and Fishing Hands,7937,7937,0,0.000000
8993,8,89,899,5,Handypersons,43700,47857,4156,9.511647
8994,8,89,899,4,Motor Vehicle Parts and Accessories Fitters,10536,10489,-47,-0.447867
8995,8,89,899,4,Printing Assistants and Table Workers,2244,2011,-232,-10.362472
8996,8,89,899,5,Recycling and Rubbish Collectors,2677,2400,-277,-10.362472
8997,8,89,899,5,Vending Machine Attendants,7620,7314,-305,-4.013816
8999,8,89,899,5,Other Miscellaneous Labourers,61744,63126,1382,2.238329
8900,8,89,890,4,Other Labourers nfd,84,84,0,0.000000
8990,8,89,890,4,Miscellaneous Labourers nfd,97,97,0,-0.394545
8000,8,80,800,4,Labourers nfd,5743,5798,55,0.964568

In [130]:
occupations_level0['1']

{'Major Group': 'MANAGERS',
 'Sub-Major Groups': {'11': {'Sub-Major Group': 'Chief Executives, General Managers and Legislators',
   'Minor Groups': {'111': {'Minor Group': 'Chief Executives, General Managers and Legislators',
     'Unit Groups': {'1111': 'Chief Executives and Managing Directors',
      '1112': 'General Managers',
      '1113': 'Legislators',
      '1110': 'Chief Executives, General Managers and Legislators nfd'}}}},
  '12': {'Sub-Major Group': 'Farmers and Farm Managers',
   'Minor Groups': {'121': {'Minor Group': 'Farmers and Farm Managers',
     'Unit Groups': {'1211': 'Aquaculture Farmers',
      '1212': 'Crop Farmers',
      '1213': 'Livestock Farmers',
      '1214': 'Mixed Crop and Livestock Farmers',
      '1210': 'Farmers and Farm Managers nfd'}}}},
  '13': {'Sub-Major Group': 'Specialist Managers',
   'Minor Groups': {'131': {'Minor Group': 'Advertising, Public Relations and Sales Managers',
     'Unit Groups': {'1311': 'Advertising, Public Relations and Sales Managers'}},
    '132': {'Minor Group': 'Business Administration Managers',
     'Unit Groups': {'1321': 'Corporate Services Managers',
      '1322': 'Finance Managers',
      '1323': 'Human Resource Managers',
      '1324': 'Policy and Planning Managers',
      '1325': 'Research and Development Managers',
      '1320': 'Business Administration Managers nfd'}},
    '133': {'Minor Group': 'Construction, Distribution and Production Managers',
     'Unit Groups': {'1331': 'Construction Managers',
      '1332': 'Engineering Managers',
      '1333': 'Importers, Exporters and Wholesalers',
      '1334': 'Manufacturers',
      '1335': 'Production Managers',
      '1336': 'Supply, Distribution and Procurement Managers',
      '1330': 'Construction, Distribution and Production Managers nfd'}},
    '134': {'Minor Group': 'Education, Health and Welfare Services Managers',
     'Unit Groups': {'1341': 'Child Care Centre Managers',
      '1342': 'Health and Welfare Services Managers',
      '1343': 'School Principals',
      '1344': 'Other Education Managers',
      '1340': 'Education, Health and Welfare Services Managers nfd'}},
    '135': {'Minor Group': 'ICT Managers',
     'Unit Groups': {'1351': 'ICT Managers'}},
    '139': {'Minor Group': 'Miscellaneous Specialist Managers',
     'Unit Groups': {'1391': 'Commissioned Officers (Management)',
      '1392': 'Senior Non-commissioned Defence Force Members',
      '1399': 'Other Specialist Managers',
      '1390': 'Miscellaneous Specialist Managers nfd'}},
    '130': {'Minor Group': 'Specialist Managers nfd',
     'Unit Groups': {'1300': 'Specialist Managers nfd'}}}},
  '14': {'Sub-Major Group': 'Hospitality, Retail and Service Managers',
   'Minor Groups': {'141': {'Minor Group': 'Accommodation and Hospitality Managers',
     'Unit Groups': {'1411': 'Cafe and Restaurant Managers',
      '1412': 'Caravan Park and Camping Ground Managers',
      '1413': 'Hotel and Motel Managers',
      '1414': 'Licensed Club Managers',
      '1419': 'Other Accommodation and Hospitality Managers',
      '1410': 'Accommodation and Hospitality Managers nfd'}},
    '142': {'Minor Group': 'Retail Managers',
     'Unit Groups': {'1421': 'Retail Managers'}},
    '149': {'Minor Group': 'Miscellaneous Hospitality, Retail and Service Managers',
     'Unit Groups': {'1491': 'Amusement, Fitness and Sports Centre Managers',
      '1492': 'Call or Contact Centre and Customer Service Managers',
      '1493': 'Conference and Event Organisers',
      '1494': 'Transport Services Managers',
      '1499': 'Other Hospitality, Retail and Service Managers',
      '1490': 'Miscellaneous Hospitality, Retail and Service Managers nfd'}},
    '140': {'Minor Group': 'Hospitality, Retail and Service Managers nfd',
     'Unit Groups': {'1400': 'Hospitality, Retail and Service Managers nfd'}}}},
  '10': {'Sub-Major Group': 'Managers nfd',
   'Minor Groups': {'100': {'Minor Group': 'Managers nfd',
     'Unit Groups': {'1000': 'Managers nfd'}}}}}}

In [137]:
df_anzsco['Name'] = df_anzsco['Name'].str.replace(' nfd', '', regex=True)
df_anzsco

,Major Group,Sub-major Group,Minor Group,Unit Group,Name
0,1,11,111,1111,Chief Executives and Managing Directors
1,1,11,111,1112,General Managers
2,1,11,111,1113,Legislators
3,1,11,111,1110,"Chief Executives, General Managers and Legisla..."
4,1,12,121,1211,Aquaculture Farmers
5,1,12,121,1212,Crop Farmers
6,1,12,121,1213,Livestock Farmers
7,1,12,121,1214,Mixed Crop and Livestock Farmers
8,1,12,121,1210,Farmers and Farm Managers
9,1,13,131,1311,"Advertising, Public Relations and Sales Managers"
10,1,13,132,1321,Corporate Services Managers
11,1,13,132,1322,Finance Managers
12,1,13,132,1323,Human Resource Managers
13,1,13,132,1324,Policy and Planning Managers
14,1,13,132,1325,Research and Development Managers
15,1,13,132,1320,Business Administration Managers
16,1,13,133,1331,Construction Managers
17,1,13,133,1332,Engineering Managers
18,1,13,133,1333,"Importers, Exporters and Wholesalers"
19,1,13,133,1334,Manufacturers
20,1,13,133,1335,Production Managers
21,1,13,133,1336,"Supply, Distribution and Procurement Managers"
22,1,13,133,1330,"Construction, Distribution and Production Mana..."
23,1,13,134,1341,Child Care Centre Managers
24,1,13,134,1342,Health and Welfare Services Managers
25,1,13,134,1343,School Principals
26,1,13,134,1344,Other Education Managers
27,1,13,134,1340,"Education, Health and Welfare Services Managers"
28,1,13,135,1351,ICT Managers
29,1,13,139,1391,Commissioned Officers (Management)
...,...,...,...,...,...
444,8,83,839,8394,Timber and Wood Process Workers
445,8,83,839,8399,Other Factory Process Workers
446,8,83,839,8390,Miscellaneous Factory Process Workers
447,8,83,830,8300,Factory Process Workers
448,8,84,841,8411,Aquaculture Workers
449,8,84,841,8412,Crop Farm Workers
450,8,84,841,8413,Forestry and Logging Workers
451,8,84,841,8414,Garden and Nursery Labourers
452,8,84,841,8415,Livestock Farm Workers
453,8,84,841,8416,Mixed Crop and Livestock Farm Workers
454,8,84,841,8419,"Other Farm, Forestry and Garden Workers"
455,8,84,841,8410,"Farm, Forestry and Garden Workers"
456,8,85,851,8511,Fast Food Cooks
457,8,85,851,8512,Food Trades Assistants
458,8,85,851,8513,Kitchenhands
459,8,85,851,8510,Food Preparation Assistants
460,8,89,891,8911,Freight and Furniture Handlers
461,8,89,891,8912,Shelf Fillers
462,8,89,891,8910,Freight Handlers and Shelf Fillers
463,8,89,899,8991,Caretakers
464,8,89,899,8992,Deck and Fishing Hands
465,8,89,899,8993,Handypersons
466,8,89,899,8994,Motor Vehicle Parts and Accessories Fitters
467,8,89,899,8995,Printing Assistants and Table Workers
468,8,89,899,8996,Recycling and Rubbish Collectors
469,8,89,899,8997,Vending Machine Attendants
470,8,89,899,8999,Other Miscellaneous Labourers
471,8,89,890,8900,Other Labourers
472,8,89,890,8990,Miscellaneous Labourers
473,8,80,800,8000,Labourers