In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = './data/OccupationProjections.xls'

In [65]:
df = pd.read_excel(file_path, skiprows=2)
df.columns=['OccupationLevel',
            'SkillLevel',
            'OccupationCode',
            'Occupation',
            'EmploymentLevel_May2018',
            'EmploymentLevel_May2023',
            'EmploymenGrowth_2018_to_2023',
            'EmploymenGrowth_2018_to_2023_percentage']

df.drop(df.tail(3).index,inplace=True) # Last few rows are not useful

In [60]:
df.head()

,OccupationLevel,SkillLevel,OccupationCode,Occupation,EmploymentLevel_May2018,EmploymentLevel_May2023,EmploymenGrowth_2018_to_2023,EmploymenGrowth_2018_to_2023_percentage
0,1,,1,MANAGERS,1561.630105,1671.502836,109.872731,7.035772
1,2,,11,"Chief Executives, General Managers and Legisla...",109.718797,114.566984,4.848187,4.418739
2,3,,111,"Chief Executives, General Managers and Legisla...",109.718797,114.566984,4.848187,4.418739
3,4,1,1111,Chief Executives and Managing Directors,62.824880,68.618668,5.793789,9.222124
4,4,1,1112,General Managers,42.125263,41.095188,-1.030075,-2.445267

# Things to make

### A thing that gives you every child of a given occupation code

### A thing that gives you the skill level of a given 4th level occupation code

# Occupation code to skill level

In [61]:
# Note that some entries have multiple values. These are preserved as strings, e.g. `1,2,3,4,5`
anzsco_to_skill_level = df[df['OccupationLevel']==4][['SkillLevel','OccupationCode']].set_index('OccupationCode')['SkillLevel'].to_dict()

# Map between occupation codes

### Map from code to names

In [126]:
occupations_level0 = {}
current_level1 = None
current_level2 = None
current_level3 = None
current_level4 = None

data = []

for index, row in df.iterrows():
    if len(str(row['OccupationCode']))==1:
        current_level1 = str(row['OccupationCode'])
        
        # New Level1
        occupations_level0[current_level1] = {'Major Group': row['Occupation'],
                                              'Sub-Major Groups':{}}
        continue
    if len(str(row['OccupationCode']))==2:
        current_level2 = str(row['OccupationCode'])
        
        # New Level2
        occupations_level0[current_level1]['Sub-Major Groups'][current_level2] = {'Sub-Major Group': row['Occupation'],
                                                                          'Minor Groups': {}}
        continue
    if len(str(row['OccupationCode']))==3:
        current_level3 = str(row['OccupationCode'])
        
        # New Level3
        occupations_level0[current_level1]['Sub-Major Groups'][current_level2]['Minor Groups'][current_level3] = {'Minor Group': row['Occupation'],
                                                                                                      'Unit Groups': {}}
        continue
    if len(str(row['OccupationCode']))==4:
        current_level4 = str(row['OccupationCode'])
        
        # New Level4
        occupations_level0[current_level1]['Sub-Major Groups'][current_level2]['Minor Groups'][current_level3]['Unit Groups'][current_level4] = row['Occupation']
        
        data.append([current_level1, current_level2, current_level3, current_level4, row['Occupation']])
        
        continue

In [127]:
def resolve_anzsco(code):
    # Provide ANZSCO as string
    if len(code)==1:
        return occupations_level0[code]
    if len(code)==2:
        return occupations_level0[code[0]]['Sub-Major Groups'][code]
    if len(code)==3:
        return occupations_level0[code[0]]['Sub-Major Groups'][code[0:2]]['Minor Groups'][code]
    if len(code)==4:
        return occupations_level0[code[0]]['Sub-Major Groups'][code[0:2]]['Minor Groups'][code[0:3]]['Unit Groups'][code]

In [128]:
df_anzsco = pd.DataFrame(data = data, columns=['Major Group', 'Sub-major Group', 'Minor Group','Unit Group', 'Name'])

In [129]:
resolve_anzsco('121')

{'Minor Group': 'Farmers and Farm Managers',
 'Unit Groups': {'1211': 'Aquaculture Farmers',
  '1212': 'Crop Farmers',
  '1213': 'Livestock Farmers',
  '1214': 'Mixed Crop and Livestock Farmers',
  '1210': 'Farmers and Farm Managers nfd'}}

In [130]:
occupations_level0['1']

{'Major Group': 'MANAGERS',
 'Sub-Major Groups': {'11': {'Sub-Major Group': 'Chief Executives, General Managers and Legislators',
   'Minor Groups': {'111': {'Minor Group': 'Chief Executives, General Managers and Legislators',
     'Unit Groups': {'1111': 'Chief Executives and Managing Directors',
      '1112': 'General Managers',
      '1113': 'Legislators',
      '1110': 'Chief Executives, General Managers and Legislators nfd'}}}},
  '12': {'Sub-Major Group': 'Farmers and Farm Managers',
   'Minor Groups': {'121': {'Minor Group': 'Farmers and Farm Managers',
     'Unit Groups': {'1211': 'Aquaculture Farmers',
      '1212': 'Crop Farmers',
      '1213': 'Livestock Farmers',
      '1214': 'Mixed Crop and Livestock Farmers',
      '1210': 'Farmers and Farm Managers nfd'}}}},
  '13': {'Sub-Major Group': 'Specialist Managers',
   'Minor Groups': {'131': {'Minor Group': 'Advertising, Public Relations and Sales Managers',
     'Unit Groups': {'1311': 'Advertising, Public Relations and Sales Managers'}},
    '132': {'Minor Group': 'Business Administration Managers',
     'Unit Groups': {'1321': 'Corporate Services Managers',
      '1322': 'Finance Managers',
      '1323': 'Human Resource Managers',
      '1324': 'Policy and Planning Managers',
      '1325': 'Research and Development Managers',
      '1320': 'Business Administration Managers nfd'}},
    '133': {'Minor Group': 'Construction, Distribution and Production Managers',
     'Unit Groups': {'1331': 'Construction Managers',
      '1332': 'Engineering Managers',
      '1333': 'Importers, Exporters and Wholesalers',
      '1334': 'Manufacturers',
      '1335': 'Production Managers',
      '1336': 'Supply, Distribution and Procurement Managers',
      '1330': 'Construction, Distribution and Production Managers nfd'}},
    '134': {'Minor Group': 'Education, Health and Welfare Services Managers',
     'Unit Groups': {'1341': 'Child Care Centre Managers',
      '1342': 'Health and Welfare Services Managers',
      '1343': 'School Principals',
      '1344': 'Other Education Managers',
      '1340': 'Education, Health and Welfare Services Managers nfd'}},
    '135': {'Minor Group': 'ICT Managers',
     'Unit Groups': {'1351': 'ICT Managers'}},
    '139': {'Minor Group': 'Miscellaneous Specialist Managers',
     'Unit Groups': {'1391': 'Commissioned Officers (Management)',
      '1392': 'Senior Non-commissioned Defence Force Members',
      '1399': 'Other Specialist Managers',
      '1390': 'Miscellaneous Specialist Managers nfd'}},
    '130': {'Minor Group': 'Specialist Managers nfd',
     'Unit Groups': {'1300': 'Specialist Managers nfd'}}}},
  '14': {'Sub-Major Group': 'Hospitality, Retail and Service Managers',
   'Minor Groups': {'141': {'Minor Group': 'Accommodation and Hospitality Managers',
     'Unit Groups': {'1411': 'Cafe and Restaurant Managers',
      '1412': 'Caravan Park and Camping Ground Managers',
      '1413': 'Hotel and Motel Managers',
      '1414': 'Licensed Club Managers',
      '1419': 'Other Accommodation and Hospitality Managers',
      '1410': 'Accommodation and Hospitality Managers nfd'}},
    '142': {'Minor Group': 'Retail Managers',
     'Unit Groups': {'1421': 'Retail Managers'}},
    '149': {'Minor Group': 'Miscellaneous Hospitality, Retail and Service Managers',
     'Unit Groups': {'1491': 'Amusement, Fitness and Sports Centre Managers',
      '1492': 'Call or Contact Centre and Customer Service Managers',
      '1493': 'Conference and Event Organisers',
      '1494': 'Transport Services Managers',
      '1499': 'Other Hospitality, Retail and Service Managers',
      '1490': 'Miscellaneous Hospitality, Retail and Service Managers nfd'}},
    '140': {'Minor Group': 'Hospitality, Retail and Service Managers nfd',
     'Unit Groups': {'1400': 'Hospitality, Retail and Service Managers nfd'}}}},
  '10': {'Sub-Major Group': 'Managers nfd',
   'Minor Groups': {'100': {'Minor Group': 'Managers nfd',
     'Unit Groups': {'1000': 'Managers nfd'}}}}}}

In [131]:
df_anzsco

,Major Group,Sub-major Group,Minor Group,Unit Group,Name
0,1,11,111,1111,Chief Executives and Managing Directors
1,1,11,111,1112,General Managers
2,1,11,111,1113,Legislators
3,1,11,111,1110,"Chief Executives, General Managers and Legisla..."
4,1,12,121,1211,Aquaculture Farmers
5,1,12,121,1212,Crop Farmers
6,1,12,121,1213,Livestock Farmers
7,1,12,121,1214,Mixed Crop and Livestock Farmers
8,1,12,121,1210,Farmers and Farm Managers nfd
9,1,13,131,1311,"Advertising, Public Relations and Sales Managers"
10,1,13,132,1321,Corporate Services Managers
11,1,13,132,1322,Finance Managers
12,1,13,132,1323,Human Resource Managers
13,1,13,132,1324,Policy and Planning Managers
14,1,13,132,1325,Research and Development Managers
15,1,13,132,1320,Business Administration Managers nfd
16,1,13,133,1331,Construction Managers
17,1,13,133,1332,Engineering Managers
18,1,13,133,1333,"Importers, Exporters and Wholesalers"
19,1,13,133,1334,Manufacturers
20,1,13,133,1335,Production Managers
21,1,13,133,1336,"Supply, Distribution and Procurement Managers"
22,1,13,133,1330,"Construction, Distribution and Production Mana..."
23,1,13,134,1341,Child Care Centre Managers
24,1,13,134,1342,Health and Welfare Services Managers
25,1,13,134,1343,School Principals
26,1,13,134,1344,Other Education Managers
27,1,13,134,1340,"Education, Health and Welfare Services Manager..."
28,1,13,135,1351,ICT Managers
29,1,13,139,1391,Commissioned Officers (Management)
...,...,...,...,...,...
444,8,83,839,8394,Timber and Wood Process Workers
445,8,83,839,8399,Other Factory Process Workers
446,8,83,839,8390,Miscellaneous Factory Process Workers nfd
447,8,83,830,8300,Factory Process Workers nfd
448,8,84,841,8411,Aquaculture Workers
449,8,84,841,8412,Crop Farm Workers
450,8,84,841,8413,Forestry and Logging Workers
451,8,84,841,8414,Garden and Nursery Labourers
452,8,84,841,8415,Livestock Farm Workers
453,8,84,841,8416,Mixed Crop and Livestock Farm Workers
454,8,84,841,8419,"Other Farm, Forestry and Garden Workers"
455,8,84,841,8410,"Farm, Forestry and Garden Workers nfd"
456,8,85,851,8511,Fast Food Cooks
457,8,85,851,8512,Food Trades Assistants
458,8,85,851,8513,Kitchenhands
459,8,85,851,8510,Food Preparation Assistants nfd
460,8,89,891,8911,Freight and Furniture Handlers
461,8,89,891,8912,Shelf Fillers
462,8,89,891,8910,Freight Handlers and Shelf Fillers nfd
463,8,89,899,8991,Caretakers
464,8,89,899,8992,Deck and Fishing Hands
465,8,89,899,8993,Handypersons
466,8,89,899,8994,Motor Vehicle Parts and Accessories Fitters
467,8,89,899,8995,Printing Assistants and Table Workers
468,8,89,899,8996,Recycling and Rubbish Collectors
469,8,89,899,8997,Vending Machine Attendants
470,8,89,899,8999,Other Miscellaneous Labourers
471,8,89,890,8900,Other Labourers nfd
472,8,89,890,8990,Miscellaneous Labourers nfd
473,8,80,800,8000,Labourers nfd